<a href="https://colab.research.google.com/github/uasamsh/Basic-AI/blob/main/Basic_Ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Variable Names
# A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)
# A variable name cannot be any of the Python keywords.
print("Hello wolrd")

Hello wolrd

In [ ]:
# Variables
# Variables are containers for storing data values.

# Creating Variables
# Python has no command for declaring a variable.

# A variable is created the moment you first assign a value to it.

#varibles Name ,, int, float, char, string, Array, Bloolean, is called data types
#  Arithamtics operators +, -, *, /, %
num1= 23
num2 = 25
sum = num1 + num2
print(sum)

48

In [ ]:
#Many Values to Multiple Variables
#Python allows you to assign values to multiple variables in one line:
x = y = z = "Orange"
print(x)
print(y)
print(z)
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Orange
Orange
Orange
Banana
Cherry

In [ ]:
# Output Variables
# The Python print() function is often used to output variables.
x = " Fruits are much better for health"
print(x)

 Fruits are much better for health

In [ ]:
x = " Python"
y = "is"
z = "Programming Language"
print(x, y, z)

 Python is Programming Language

In [ ]:
x = " Python "
y = "is "
z = "Awesome Language"
print(x + y + z)

 Python is Awesome Language

In [ ]:
x = 67
y = 56
print( x + y)
# In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
# Example
# x = 5
# y = "John"
# print(x + y)

123

In [ ]:
# multiple string  A string can contain different data types
a = """ Wildfires on Rhodes have forced 19,000 people to be evacuated from homes and holiday accommodation.
Flights are due to land on the Greek island later on Monday to bring back stranded holidaymakers.
Tourists have been sleeping at the airport, makeshift rescue centres and on the street, after the flames threatened holiday resorts.
At least three hotels have been destroyed in the dense forest area of Kiotari on the east of the island."""
print(a)

 Wildfires on Rhodes have forced 19,000 people to be evacuated from homes and holiday accommodation.
Flights are due to land on the Greek island later on Monday to bring back stranded holidaymakers.
Tourists have been sleeping at the airport, makeshift rescue centres and on the street, after the flames threatened holiday resorts.
At least three hotels have been destroyed in the dense forest area of Kiotari on the east of the island.

In [ ]:
#modify string
# uper case
a = "Hello, World"
print(a.upper())

HELLO, WORLD

In [ ]:
# lower case
a = "Hello, World"
print(a.lower())

hello, world

In [ ]:
# remove whitespace   for remove extra space """"
a = """    Wildfires on Rhodes have forced 19,000 people to be evacuated from homes and holiday accommodation.

Flights are due to land on the Greek island later on Monday to bring back stranded holidaymakers.

Tourists have been sleeping at the airport, makeshift rescue centres and on the street, after the flames threatened holiday resorts.

At least three hotels have been destroyed in the dense forest area of Kiotari on the east of the island.     """
print(a.strip())

Wildfires on Rhodes have forced 19,000 people to be evacuated from homes and holiday accommodation.

Flights are due to land on the Greek island later on Monday to bring back stranded holidaymakers.

Tourists have been sleeping at the airport, makeshift rescue centres and on the street, after the flames threatened holiday resorts.

At least three hotels have been destroyed in the dense forest area of Kiotari on the east of the island.

In [ ]:
#replace string
a = "Hello, World"
print(a.replace("H","J"))

Jello, World

In [ ]:
# Split string means token separate word within the function split parameter comma ,
a = "Hello, World"
print(a.split(","))

['Hello', ' World']

In [ ]:
#list or items use square pracket[] list items are ordered, and allow duplicate values list items are index [0], the 2nd item index[1]

list = ["Apple", "Banana", "Grapes"]
print(list)

['Apple', 'Banana', 'Grapes']

In [ ]:
# A list item can be any date types string, int, float, boolean, values in same data types,
# list in ordered, index,  changeable  allow duplicate value
list1 = ["Apple", "Banana", "Grapes"]
list2 = [1,5,6,9]
list3 = [True, False, False ]
print(list1, list2, list3,)

['Apple', 'Banana', 'Grapes'] [1, 5, 6, 9] [True, False, False]

In [ ]:
#length of item and list  to determine how many items in a list
item = ["Apple", "Banana", "Grapes"]
print(len(item))

3

In [ ]:
#A list string with int boolean values different data types
list = [ "abc", 34, True, 40, "male"]
print(list)

['abc', 34, True, 40, 'male']

In [ ]:
#Unpack a Collection
#If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.
#Example
#Unpack a list:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
# Tuple use to store multiple values/items in a string
 # A tuple  is ordered and unchangeable allow duplicate
#  Tuple use in pranthesis()
# A tuple can contain different data types
list = ("abc", "abc", 34, 34,  True, 40, "male")  # allow duplicate value but unchangeable
print(type(list))
thistuple = ("Apple",)  # Alpple ke sath comma lagayen gay to tuple hoga warna string hoga
print(type(thistuple))
thistuple = ("Apple")
print(type(thistuple)) #outout main type batay hai ke ye tuple hai ya string cooma lagaya to tuple ho gaya

<class 'tuple'>
<class 'tuple'>
<class 'str'>

In [ ]:
#Python Set use{} sets unoredered unindex unchangeable don't allow duplicate value baqi sab ordered main use hotay hain
list = {"Apple", "Banana", "Grapes" "Apple"}
print(len(list))
list = {"Apple", "Banana", "Grapes" "Apple"}
print(list)
print(type(list))

3
{'GrapesApple', 'Banana', 'Apple'}
<class 'set'>

In [ ]:
#PYTHON DICTIONARY
# dictionary are written in culry bracket {}
# dictionary used to store data value in key-value pair
# A dictiionay is a collection which is ordered changeable don't allow duplicate value
thisdic = {"brand": "civic", "model": 2010, "year":2010}  # pehli value brand ko key kehtay hain dosari value civic ko value
print(thisdic)

{'brand': 'civic', 'model': 2010, 'year': 2010}

In [ ]:
carmodel = {
    "brand": "civic",
    "model": 2010,
    "year":2010
    }
print(carmodel["year"])

2010

In [ ]:
#dic do not allow duplicate value
carmodel = {
    "brand": "civic",
    "model": 2010,
    "year" : 2016,
    "year":2020
    }
print(carmodel)

{'brand': 'civic', 'model': 2010, 'year': 2020}

In [ ]:
# if Statement   ,    == ,!=, >, <, <=, >=, when we use these operators are called RELTIONAL OPERATORS in python laguage
a = 200
b = 500
if b > a:
  print("b is greater than a" )

b is greater than a

In [ ]:
# if else statement
a = 1000
b = 300
if b > a:
 print("b is greater than a" )
elif a > b:
  print("a is greater than b" )

a is greater than b

In [ ]:
# elif statement
a = 300
b = 300
if b == a:
 print("b is equal to a" )
elif a != b:
  print("a is not equal to b" )

b is equal to a

In [ ]:
# if elif else  statement
a = 300
b = 300
if b > a:
 print("b is greater than a" )
elif a == b:
  print("a is equal to b" )
else:
  print("a is greater than b" )

a is equal to b

In [ ]:
# LIST                 TUPLE           DICTIONARY              SETS
square bracket[]   round bracket()    curly bracket{}         curly bracket{}
changeable         unchangeable        changeable             unchangeable unindex but can added
ordered\index           ordered            ordered                 unoredered
Allow duplicate     Allow duplicate   Don't Allow duplicate    Don't Allow duplicate

SyntaxError: invalid syntax (<ipython-input-28-6a4f0b2ba9ad>, line 2)

In [ ]:
#logical operator
# AND
a = 1000
b = 300
c = 400
if a > b and c > b:
  print("Both conditions are true")

In [ ]:
#logical operator OR
a = 500
b = 300
c = 400
if a > b or a < c:
  print("At least one condition should be true")
  if a < b or a < c:  # dono value main aik true ho to true wrna false hogi is lie false value print nhn hogi
    print(True)

In [ ]:
#logical operator NOT
a = 33
b = 900
if not a > b:
  print("a is not greater than b")

In [ ]:
# for loop means iterative
for i in range(10):
  print("Hi JOHN") #agar print ko 3 spaces de kar likhen gay to woh loop ki body main exist hoga without space for loop ki body nhn hoga
print("how are you")

In [ ]:
for i in range(10):
  print("Hi EVERYONE") #agar print ko 3 spaces de kar likhen gay to woh loop ki body main exist hoga without space for loop ki body nhn hoga
  print("how are you")

In [ ]:
# LOOPS ... What is loops? There are 3 types loops are exists for , while and  do while
# Ans Loops is a programming language that allow the repetition of a set of instruction multiple items.
#using for loop in a list which is separate items in loop,  if not use for loop then cant give seprate items

# print the string specific number of time
fruits = ["Aplle", "Banana", "Grapes"]
for item in fruits:
  print(item)

In [ ]:
my_list = [ 12 , 13, 57, 78]
for number in my_list:
  print(number)

In [ ]:
for fruit in "banana":
  print(fruit)

In [ ]:
for num in range(10):
  print(num)

In [ ]:
for num in range(1,6):
  print(num)

In [ ]:
for num in range(0, 5):
  print(num)

In [ ]:
my_list = [ 12 , 13, 57, 78, 7899,]
for number in range (len(my_list)):
  print(number, my_list[number])  # pehlay index number print huay , phir index number pe my_list ki values aa gayen

In [ ]:
# printing The VALUES from dic
my_dic = {" FName": "Ali" , "Lname": "Ameen", "Age": "25", "Phone": "123456789"  }
for value in my_dic.values(): # agar value print karni hon to value ka function use hoga dot laga ke
  print(value)

In [ ]:
# printing The KEYS from dic
my_dic = {"FName": "Ali" , "Lname": "Ameen", "Age": "25", "Phone": "123456789"}
for key in my_dic.keys():  # agar key print karni hon to key ka function use hoga dot laga ke
  print(key)

In [ ]:
# user define function
# CREATING A FUNCTIONS
# syntax
def my_function():
  print("Hello from a function") # output nhn de ga q k just function create kia hai

In [ ]:
# Call a function
def my_function():
  print("Hello from a function")
my_function()    # ab function ko call kia hai to ab print hoga

In [ ]:
# Arguments   woh values hain jo function ko detay hain ta ke function unper action perform kar ke de
def add_num (a, b):  # a , b are parameters which we us in function defines
  sum = a + b
  return sum
  # calling the function
result = add_num(5, 3) # when we call a function we use 5,3 called arguments... difference in parameters and argumets
print("The sum is:", result)

In [ ]:
from re import sub
def minus(a,b):
  sub = a - b
  return sub
result = minus(34,90)
print("minus value is : ", result)

In [ ]:
def eat (food):   # parameter
  for eat in food:
    print(eat)

fruits = ["apple", "banana", "peach"]  # arguments
eat(fruits)

In [ ]:
def color (shape):
  for color in shape:
   print(color)
col = ["red","green","purple"]
color(col)

In [ ]:
# Return values
# to let a function return a value, use the return statement:
def multiply (x):
   return 8 * x
print(multiply(18))
print(multiply(0))
print(multiply(45))

In [ ]:
def plus(x):
  return 4 + x
print(plus(9))
print(plus(30))
print(plus(455))

In [ ]:
def greet_person(name = "World"): # string parameter ko assign by default ho jaye gi
#agar user ne func call na kartay huay koi value na di to function calling time pe by default use kar le ga
   print("Hello," ,name)  # using comma
   # calling function without argumet
greet_person()
 # calling function with argument
greet_person("Alice")

In [ ]:
def greeting( session = "New session strt"):
 print("Hello everyone" , session)
greeting()
greeting("Welcome Python class ")

In [ ]:
def sub_num (x, y):
  sub = x - y
  return sub
result = sub_num (570, 90)
print("This is Sub:", result)

In [ ]:
def car(model):
 for car in model:
  print(car)
car("civic")

In [ ]:
def count_char(string, char):   # string jo output var main hai usko count karna hai yahi H kitni baar hai L kitni baar hai
  return string.count(char)
output = count_char("Hello Pakistan", "H")
print(output)

In [ ]:
def reverse_string(input_string): # reverse
  return input_string[::-1]
output = reverse_string( "Hello Pakistan" )
print(output)

In [ ]:
# to check function if a string is palidrome means reverse karo to bhi same aye

def is_palindrome(word):
  reverse_word = word[::-1]  # word ko variable reverse_word main store kar dia
  return word == reverse_word
output = is_palindrome("noon") #reverse karo to bhi same aye ga
print(output)

def is_palindrome(word):
  reverse_word = word[::-1]  # word ko variable reverse_word main store kar dia
  return word == reverse_word
output = is_palindrome("Good")  # ye palindrome nhn hai q k everse kafro to same nhn aa raha
print(output)

In [ ]:
# withour return using if else
def palindrome(word):
  reversed_word = word[::-1]  # word ko variable reverse_word main store kar dia
  if word == reversed_word:
    print(word, "is palindrome")
  else:
    print(word, "is not palindrome")
palindrome("noon")

def palindrome(word):
  reversed_word = word[::-1]  # word ko variable reverse_word main store kar dia
  if word == reversed_word:
    print(word, "is palindrome")
  else:
    print(word, "is not palindrome")
palindrome("Good")

noon is palindrome
Good is not palindrome

# **OPENAI**
# Install OPENAI

# **IMPORT THE OPENAI**

In [ ]:
!pip install openai

Collecting openai
  Downloading openai-1.48.0-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from openai) (1.7.0)
Collecting httpx<1,>=0.23.0 (from openai)
  Downloading httpx-0.27.2-py3-none-any.whl.metadata (7.1 kB)
Collecting jiter<1,>=0.4.0 (from openai)
  Downloading jiter-0.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.6 kB)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai) (2.9.2)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.5)
Requirement already satisfied: typing-extensions<5,>=4.11 in /usr/local/lib/python3.10/dist-packages (from openai) (4.12.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (3.10)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (1.2.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->openai) (2024.8.30)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai)
  Downloading httpcore-1.0.5-py3-none-any.whl.metadata (20 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (2.23.4)
Downloading openai-1.48.0-py3-none-any.whl (376 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 376.1/376.1 kB 10.3 MB/s eta 0:00:00
Downloading httpx-0.27.2-py3-none-any.whl (76 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.4/76.4 kB 3.8 MB/s eta 0:00:00
Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 3.7 MB/s eta 0:00:00
Downloading jiter-0.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (318 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 318.9/318.9 kB 14.8 MB/s eta 0:00:00
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 3.5 MB/s eta 0:00:00
Installing collected packages: jiter, h11, httpcore, httpx, openai
Successfully installed h11-0.14.0 httpcore-1.0.5 httpx-0.27.2 jiter-0.5.0 openai-1.48.0

In [ ]:
import openai

# **Using the OPENAI in the code**
to generate the openai key go to link https://platform.openai.com/account/api-keys

# Page open hoa create key karna hai copy kar ke openai.api_keys = ' ' coomma main paste ke dena hai lkn kuch din baad ya kuch time baad ye expire ho jata hai isko phir se cerate kar ke copy paste kar ke kaam karna hai

In [ ]:
openai.api_keys =  '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'

# **Sentimental Analysis open.ai api**
To read the more about the example of chataGPT https://platform.openai.com/examples

In [ ]:
import os
import openai

openai.api_key = os.getenv("OPENAI_API_KEY")

response = openai.ChatCompletion.create(
 " model":"gpt-3.5-turbo",
  "messages":[],
  "temperature"=0.5,
  "max_tokens"=256
)

SyntaxError: invalid syntax (<ipython-input-33-4257f0891541>, line 7)

In [ ]:
import openai

openai.api_key =  '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'  # ye Api create ho gaye ab is Api aik function name se define karna hai
def sentiment_analysis(text):  # Api ko fuction name de kar define kia aur usko text aik string jaye gi
# ab text string main hamara aik message API le ke jaye gi us message main 2 parts hon gay aik system part aik user part
# ab system ko trained karna hai ke tumaharay paas kia cheezen ayen gi tum ne kia karna hai
# aur user ko kia response karna hai hum Role define karen gay sytem ka us ne system ne content generate karna hoga
       messages = [
    {"role": "system", "content":  """ You are trained to analyze and detect the sentiment of given text
    if you'er unsure answer you can say "not sure" and recomended user review manually """ } , # comma
      {"role": "user", "content":  """  Analyze the following text and determine if the sentiment is: Positive or negative
    return answer in single word as either Positive or negative: {text} """ }  # ye sara msg user se sysytem aur system se user ke paas jaye ga
   ]   # ab jo Api hmn kaam kar ke de gi yani ke respose de gi us ke lie model define karna hai jo model background pe use hoga
    # uski kia kia limitations aur functionalities hain ab woh define karni hain

    # respone = ke lie openai main jao chatcompletion wala model use karo . create wala function jo openai hmn provide karti hai use karo
    # us ke ander model gpt-3.5-turbo use karna hai, message jo user message jaye ga woh, maximum kitnay Token generate karna hai
    # 1 hi tokeng enerate karna hai q k usko batya tha ya  Positive sentiment chahiye ya  negative sentiment chahiye
    # n = 1 ye karta hai ke ke chatgpt 1 se ziada respone bhi generate kar ke  de sakta hai
    # ye hmn batana parta hai ke jo query main deta hun uska aik 2 ya 3 response chaiye
    # n= 1 limites kar dia hai ke 1 response aur aik hi word chahiye Positive or negativ
    # stop = None ye karta hai ke  ke koi specific condition aa jaye to response ko rukwana ho to waahn pe stop ho jaye,
    # None response gnrat karta rahay ga koi  condition check nhn hogi
    # temprature 0 rakah hai q k hum nhn chahatya ke model apni taraf se creative cheez karay jo deterministic ans hm chaty hain woh de
    # response_text chatgpt response karay ga us ke ander choice hon gi woh aik list [0] ki form main ayen gi us main 0 wali pick karo
    # mesaage ka content aa raha hai us ke andar se strip karo whitespaces ko remove kar ke lower case main shift kar do
    # phir usko response_tex main store kar do phir return kar do response_tex
      response = openai.ChatCompletiont.create(
        model = "gpt-3.5-turbo",
        messages = messages ,    #  jo user message jaye ga woh, maximum kitnay Token generate karna hai
        token = 1 ,         # return single word Positive sentiment chahiye ya  negative sentiment chahiye
        n = 1,               # n= 1 limites kar dia hai ke 1 response aur aik hi word chahiye Positive or negative
        stop = None,         #  specific condition pe stop ho jaye warna None  response gnrat karta rahay ga koi  condition check nhn hogi
        temprature = 0 )       # model apni taraf se kuch na de  jo deterministic ans hm chaty hain woh de

    response_text = response.choices[0].message.content.strip().lower()
    return response_text

# Function calling

input = "i have fast food" #  string banaye usko input store kar dia
response = sentiment_analysis(input)  # sentiment_analysis upr function banaya tha usko paas kia jo respose varbl main stor hua
print(input, " The Sentiment is :", response)

In [ ]:
!pip install openai

In [ ]:
openai.api_key = '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'

In [ ]:
import openai

openai.api_key = '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'

def senitment_analysis(text):
    messages = [
        {"role": "system", "content": """You are trained to analyze and detect the sentiment of given text.
                                        If you're unsure of an answer, you can say "not sure" and recommend users to review manually."""},
        {"role": "user", "content": f"""Analyze the following text and determine if the sentiment is: positive or negative.
                                        Return answer in single word as either positive or negative: {text}"""}
        ]

    response = openai.ChatCompletion.create(
                      model="gpt-3.5-turbo",
                      messages=messages,
                      max_tokens=1,
                      n=1,
                      stop=None,
                      temperature=0)

    response_text = response.choices[0].message.content.strip().lower()

    return response_text

In [ ]:
  # calling the function
input = 'I love eating ice cream'
response = senitment_analysis(input)
print(input,'The Sentiment is', response)

# Image generated using **openai**
To learn more you can visit the link https://platform.openai.com/docs/guides/images/usage

In [ ]:
!pip install openai

# We can generate images using the openai API. The Tool for that is Called **Dall-e**

# DALL·E has the ability to understand and follow detailed instructions for generating images.

In [ ]:
import openai

In [ ]:
import io
import openai
import requests
import PIL
from PIL import Image

openai.api_key = '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'

def generate_image(text):
    # Generate the image using OpenAI's DALL-E model
    response = openai.Image.create(
        prompt=text,
        n=1,
        size = "512x512"
        )

    # Get the image URL from the response
    image_url = response.data[0]['url']

    # Download the image and convert it to a PIL image
    image_content = requests.get(image_url).content
    image = Image.open(io.BytesIO(image_content))
    image.show()

In [ ]:
prompt = input("Enter your prompt to generate the image: ")
generate_image(prompt)
# print(type(output))

# Image generated using **openai**
To learn more you can visit the link https://platform.openai.com/docs/guides/images/usage

# **HUGGING FACE**

In [ ]:
# Installing the required modules
!pip install transformers

In [ ]:
# Installing the required modules
!pip install datasets

# **TEXT CLASIFICATION**
we can classify the text using HUGGING FACE prebuilt pipelines we will extenxsively use pipeline()

In [ ]:
import transformers
from transformers import pipeline

pipe = pipeline("text-classification")
pipe("This movie is very boring")

# **USING MODEL 1**
result just in neutral not in negative in model 1

In [ ]:
import transformers
from transformers import pipeline
pipe = pipeline(model="roberta-large-mnli")
pipe("I dont like this movie")

# **# USING MODEL 2**
Result in not neutral using model 2

In [ ]:
import transformers
from transformers import pipeline
pipe = pipeline("text-classification", model = 'distilbert-base-uncased-finetuned-sst-2-english')
pipe("I like this movie")

# We can also paas the string in the form of **list**

In [ ]:
# pipeline for text classification

pipe = pipeline("sentiment-analysis")
pipe("I am going to library", "I am not going to the park")

In [ ]:
# pipeline for text classification

pipe = pipeline("sentiment-analysis")
pipe(["This restaurant is awesome", "This restaurant is awful"])

# **TEXT SUMMERIZATION** means bahot saari books se text SUMMERIZATION karna
 We can summerize the text using HUGGING FACE pipeline for that we need to paas the parameters of pipeline as "summerization".

In [ ]:
# text to be summarized
input_text = ("Hugging Face's text summarization pipeline leverages advanced NLP models to condense lengthy documents or \n text into shorter, coherent summaries. \n It offers a user-friendly interface for developers to easily integrate text summarization capabilities into their applications, making it a valuable tool for automating content extraction and condensation tasks. \n Hugging Face's pipeline ensures efficient and accurate text summarization, enhancing the accessibility and utility of large volumes of textual information.")
print(input_text)

In [ ]:
# use bart in pytorch
summerizer = pipeline("summarization")
summerizer("Text Input: Start by providing your text input. It could be a sentence or a paragraph.Tokenization: The input is tokenized, which means breaking it down into smaller units like words or subwords. Tokens are the building blocks for NLP models.Model: The tokenized input is passed through a pre-trained NLP model. Hugging Face offers a wide range of models for different NLP tasks, such as sentiment analysis, question answering, and text generation.Prediction/Output: The model processes the tokenized input and generates a prediction or output specific to the task. For example, if it's sentiment analysis, it could predict whether the input is positive or negative.", min_length=5, max_length=30)

In [ ]:
# use bart in pytorch
summerizer = pipeline("summarization")
summerizer("The sun set behind the mountains, casting a warm orange glow across the valley. Children played by the riverbank, their laughter filling the air with joy. A gentle breeze rustled the leaves, creating a soothing melody in the quiet evening.", min_length=4)

## **Name Entity Relation**

Named Entity Recognition is a natural language processing (NLP) task

that involves identifying and classifying named entities in text into

predefined categories such as person names, organizations, locations, dates, and more.

In [ ]:
!pip install transformers

In [ ]:
!pip install datasets

In [ ]:
nlp = pipeline("ner")
exam = "My name is Ahmad and i am going to Pakistan"

ner_results = nlp(exam)
print(ner_results)

# **# LEC 12**
# **Installing Pandas**

In [ ]:
!pip install pandas

import panda as pd

In [ ]:
import pandas as pd

# **Loading the document**

In [ ]:
df = pd.read_csv("/content/data_lec12(1).csv", index_col = "Name" )

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.tail(10)

In [ ]:
df.shape  # data 16598 rows , column 10 hain

In [ ]:
df.dtypes

In [ ]:
df["Global_Sales"].describe()

In [ ]:
df["Year"].describe()

In [ ]:
df.describe()

In [ ]:
df.iloc[299]

In [ ]:
df.loc["Super Mario Bros."]

In [ ]:
df.sort_values(by = "Year").head()

In [ ]:
df.sort_values(by = "Year", ascending=False).head()

In [ ]:
df["Publisher"].head(10)

In [ ]:
df[df["Genre"] == "Action"]

In [ ]:
after_2015 = df["Year"] < 2015
df[after_2015]

In [ ]:
mid_2000s = df["Year"].between(2010, 2020)
df[mid_2000s]

# **LECTURE 13**

In [ ]:
import pandas as pd  # using documents
import numpy as np # numerical python
import seaborn as sns # visualization
import matplotlib.pyplot as plt   # visualization bar gragh etc
%matplotlib inline
sns.set(color_codes=True)

In [ ]:
df = pd.read_csv("/content/data_Lec13(1).csv")
df.head(5)

In [ ]:
df.tail()

In [ ]:
df.dtypes

# **REMOVE FOR IRRELEVANT DATA IN COLUMN **

In [ ]:
df=df.drop(["Vehicle Size"], axis = 1)
df.head(5)

In [ ]:
df = df.rename(columns={"Engine HP": "HP", "Engine Cylinders": "Cylinders", "Transmission Type": "Transmission", "Driven_Wheels": "Drive Mode","highway MPG": "MPG-H", "city mpg": "MPG-C", "MSRP": "Price"})
df.head(5)

###  just known of Duplicate data

In [ ]:
df.shape

In [ ]:
duplicate_rows_df = df[df.duplicated()]
print("Dublicate number of :", duplicate_rows_df.shape)

In [ ]:
df.count()

# **Now drop the duplicate data**

In [ ]:
df = df.drop_duplicates()
df.head(5)

# duplicate remove kar count change ho jaye ga

In [ ]:
df.count()

In [ ]:
print(df.isnull().sum())

In [ ]:
df = df.dropna()
df.count()

In [ ]:
print(df.isnull().sum())

In [ ]:
sns.boxenplot(x=df["Price"])

In [ ]:
sns.boxplot(x=df["HP"])

In [ ]:
sns.boxplot(x=df["Cylinders"])  # outlies kam hain dipresion kam hai

In [ ]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
df.corr()

In [ ]:
!pip  install pandas

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline
sns.set(color_codes=True)

In [ ]:
df= pd.read_csv("/content/data_Lec13(1).csv")
df.head()

In [ ]:
df = pd.read_csv("/content/goalscorers.csv")
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.count()

In [ ]:
df.dtypes

In [ ]:
import pandas as pd

In [ ]:
d = { "a":pd.Series([23,34,56,67]), "b":pd.Series([23,34,56,67])}
var= pd.DataFrame(d)
print(d)
print(type(d))

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_color_codes=True
import warnings
warnings.filterwarnings("ignore")
plt.rcParams["figure.figsize"] = [10,5]

In [ ]:
import warnings
warnings.simplefilter(action = "ignore", category=FutureWarning)

In [ ]:
current_palettle1= sns.color_palette()
sns.palplot(current_palettle1)
plt.show()

In [ ]:
current_palettel=sns.color_palette()
sns.palplot(sns.color_palette("Reds"))
plt.show()

In [ ]:
color_palettle=sns.color_palette()
sns.palplot(sns.color_palette("BrBG",20))
plt.show()

In [ ]:
color_palettle4=sns.color_palette()
sns.palplot(sns.color_palette("colorblind"))
plt.show

In [ ]:
df=pd.read_csv("/content/titanic_dataset.csv")
df.shape

In [ ]:
df.head()

In [ ]:
sns.histplot(df['Parch'],kde=False)
plt.show

In [ ]:
sns.distplot(df["Age"], hist=False)
plt.show

In [ ]:
plt.figure(figsize=(8,8))
sns.distplot(df["Age"])
plt.show

In [ ]:
sns.relplot(x = 'Age', y='Fare', col='Pclass', hue='Sex', style='Sex',kind ="line", data=df)
plt.show()

In [ ]:
plt.figure(figsize=(8,8))
sns.scatterplot(x='Age', y='Fare', hue='Sex', data=df)
plt.show()

In [ ]:
plt.figure(figsize=(8,8))
sns.lineplot(x='Age',y='Fare',hue='Sex',style='Sex',data=df)
plt.show()

In [ ]:
plt.figure(figsize=(8,8))
sns.barplot(x="Sex",y="Survived", hue="Pclass", data=df)
plt.show

In [ ]:
plt.figure(figsize=(8,8))
sns.stripplot(x="Sex",y="Age",hue="Sex",data=df)
plt.show()

In [ ]:
plt.figure(figsize=(8,8))
sns.swarmplot(x="Sex",y="Age",hue="Sex",data=df)
plt.show()

In [ ]:
plt.figure(figsize=(8,8))
sns.boxplot(x="Survived",y="Age",data=df)
plt.show()

In [ ]:
plt.figure(figsize=(8,8))
sns.violinplot(x="Survived",y="Age",hue="Sex",data=df)
plt.show()

In [ ]:
side = int(input("Enter the side of the square: "))
area = side * side
print("The area of the square is:", area)

In [ ]:
side=int(input("enter side square :"))
print("Area" , side **2)

enter side square10
Area 100

In [ ]:
name =  input( "enter your Name :")
print (" Your Name is :" , name)

enter your Name :john
 Your Nmae is : john

In [ ]:
grade = int(input("enter your Marks :"))

if grade>= 90:
  print("Grae A")
  print("Excellent")

elif grade >= 90 and 80:
  print("Grade B")
  print("Very Good")
elif grade >=  80 and  50:

  print("Grade C")
  print("Good")
elif grade >= 40 and 30 :
 print("Grade D")
 print("Average")

else:
  print("Grade F")
  print ("Fail")

enter your Marks :42
Grade D
Average

In [ ]:
# program Traffic Light
light = input("Enter the color of the traffic light: ")
if light == "red":
  print("Stop")
elif light == "Yellow":
  print("Get Ready")
elif light == "Green":
  print("Go")
else:
  print("Invalid")

Enter the color of the traffic light: yellow
Invalid

In [ ]:

age= 24
if age >= 18:
  print("You are eligible for Drive")
else:
  print("You are not eligible for Drive")

You are eligible for Drive

In [ ]:
marks=int(input("Enter Your Marks :"))
if (marks >= 90):
  grade ="A"
elif (marks >= 80 and marks < 90):
  grade = "B"
elif (marks >= 70 and  marks < 80):
  grade = "C"
elif (marks >= 60 and marks < 70):
  grade = "D"
else:
  grade = "F"
print("Your Grade is :" , grade)

Enter Your Marks :50
Your Grade is : F

In [ ]:
# Even and Odd

num=int(input(" Enter Number :"))
if (num % 2 == 0):
  print("Even")
else:
  print("Odd")

 Enter Number :14
Even

In [ ]:
# find the greatest 3 numbers by user
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
if a >b and a > c:
  print ("The largect Number is : ", a)
  if b > c:
    print ("The largect Number is : ", b)
  else:
    print ("The largect Number is : ", c)

Enter the first number: 12
Enter the second number: 34
Enter the third number: 33

In [ ]:
#WAP find the multiple number of 7
num = int(input("Enter the number: "))
if num % 7 == 0:
  print("The number is a multiple of 7")
else:
  print("The number is not a multiple of 7")

Enter the number: 28
The number is a multiple of 7

In [ ]:
# find the greatest 3 numbers by user
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
if (a >= b and a >= c):
  print ("The first largest Number is : ",a)
elif (b >= c):
    print ("The second largest Number is : ",b)
else:
    print ("The third largest Number is : ",c)

Enter the first number: 12
Enter the second number: 102
Enter the third number: 122
The third largest Number is :

In [ ]:
# muteable list
student = ["Karan", 65, "Lhr"]
print(student)
print(type(student))
# mutable
student[0] = "Ali"
print(student)

['Karan', 65, 'Lhr']
<class 'list'>
['Ali', 65, 'Lhr']

In [ ]:
list=[1.3,2]
list.append(4)
print( list)

[1.3, 2, 4]
None [1.3, 2, 4]

In [ ]:
list= [8,0,7,4,9,8]
list.sort()
print(list)
list.append(10)
print(list)
print(list.sort())
print(list)
list.sort(reverse=True)
print(list)

list = ['a','d','u','c']
list.sort()
print(list)
list.reverse()
print(list)
list.insert(1,'e')
print(list)
list.remove('e')
print(list)
list.pop(0)
print(list)

[0, 4, 7, 8, 8, 9]
[0, 4, 7, 8, 8, 9, 10]
None
[0, 4, 7, 8, 8, 9, 10]
[10, 9, 8, 8, 7, 4, 0]
['a', 'c', 'd', 'u']
['u', 'd', 'c', 'a']
['u', 'e', 'd', 'c', 'a']
['u', 'd', 'c', 'a']
['d', 'c', 'a']

In [ ]:
# WAP # fvt movies and store in list
movies=[]
mov1=input("Enter Movie 1 :")
movies.append(mov1)
mov2=input("Enter Movie 2 :")
movies.append(mov2)
mov3=input("Enter Movie 3 :")
movies.append(mov3)
print(movies)

Enter Movie 1 :krish
Enter Movie 2 :lucy
Enter Movie 3 :dll
['krish', 'lucy', 'dll']

In [ ]:
# second method
movie =[]
for i in range(3):
  mov=input("Enter Movie :")
  movie.append(mov)
print(movie)

Enter Movie :dil
Enter Movie :lucy
Enter Movie :crew
['dil', 'lucy', 'crew']

In [ ]:
movies=[]
mov.append=input("Enter Movie 1 :")
mov.append=input("Enter Movie 2 :")
mov.append=input("Enter Movie 3 :")
print(movies)

In [ ]:
# palidrome mom , maam, 1,2,3,2,1 we read both side same
text = input("Enter the text: ")
if text == text[:: -1]:
  print("The text is a palindrome")
else:
  print("The text is not a palindrome")

Enter the text: 1,2,3,4
The text is not a palindrome

In [ ]:
list=[1,2,3,1]
copy_list = list.copy()
copy_list.reverse()
if copy_list == list:
  print("This is palindrome")
else:
  print("This is not palindrome")

This is not palindrome

In [ ]:
dict = {"Name": "Ahmed", "Age": 25, "City": "Karachi"}
print(dict)
print(type(dict))
print(dict["Name"])
# replace name
dict["Name"] = "Ali"
dict["surname"]= "Shah"
print(dict)

{'Name': 'Ahmed', 'Age': 25, 'City': 'Karachi'}
<class 'dict'>
Ahmed
{'Name': 'Ali', 'Age': 25, 'City': 'Karachi', 'surname': 'Shah'}

In [ ]:
#null dict
dict = {}
print(dict)
print(type(dict))
dict["apna"] = "college"
print(dict)

{}
<class 'dict'>
{'apna': 'college'}

In [ ]:
#nested dic

student ={
    "name" : " shan",
    "subject":{
        "py":50,
        "chm": 60,
        "mth":70

    }
}
print(student)
print(student["subject"])
print(student["subject"]["mth"])

student.update({"name":"ali", "Age" : 25})
print(student)

{'name': ' shan', 'subject': {'py': 50, 'chm': 60, 'mth': 70}}
{'py': 50, 'chm': 60, 'mth': 70}
70
{'name': 'ali', 'subject': {'py': 50, 'chm': 60, 'mth': 70}, 'Age': 25}

In [ ]:
# set is immutable elemnts add, remove, clear pop use methods in sets
fruits= {"apple", "banana", "orange"}
print("fruits")
fruits.add("cherry")
print (fruits)
fruits.remove("banana")
print(fruits)
fruits.pop()
print(fruits)
fruits.clear()
print(fruits)

fruits
{'cherry', 'orange', 'banana', 'apple'}
{'cherry', 'orange', 'apple'}
{'orange', 'apple'}
set()

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [ ]:
# store in dictionary
#"""table : “a piece of furniture” “list of facts & figures” cat : “a small animal”"""
dictionary = {
  "Cat": "A small animal with four legs.",
  "Dog": "A large animal with four legs.",
  "Fish": "A cold-blooded animal with gills.",
  # table have 2 meanings then list or tuple use
  "table": [" A furniture for a wood", "it hs four legs"]
}
print (dictionary)
print(dictionary["table"])

{'Cat': 'A small animal with four legs.', 'Dog': 'A large animal with four legs.', 'Fish': 'A cold-blooded animal with gills.', 'table': [' A furniture for a wood', 'it hs four legs']}
[' A furniture for a wood', 'it hs four legs']

In [ ]:
#You are given a list of subjects for students. Assume one classroom is required for 1
#subject. How many classrooms are needed by all students.

#”python”,“java”,“C++”,“python”,“javascript”,“java”,“python”,“java”,“C++”,“C”

subjects = {"python", "java", "C++", "python", "javascript", "java", "python", "java", "C++", "C"}
print(len(subjects))

subjects = {"python", "java", "C++", "python", "javascript", "java", "python", "java", "C++", "C"}
num_classrooms = len(subjects)

print("Number of classrooms needed:", num_classrooms)

5
Number of classrooms needed: 5

In [ ]:
  # WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with
#an empty dictionary & add one by one. Use subject name as key & marks as value.

marks ={}

x = int(input("Enter marka of PHY : "))
marks.update({"PHY": x})
x= int(input("enter marks mth :"))
marks.update({"mth" : x})
x = int(input("enter marks of geography :"))
marks.update({"geography" : x})
print(marks)

Enter marka of PHY : 90
enter marks mth :80
enter marks of geography :70
{'PHY': 90, 'mth': 80, 'geography': 70}

In [ ]:
marks = {}  # Initialize the dictionary

for i in range(3):
    subject = input("Enter subject name: ")
    marks[subject] = int(input("Enter marks: "))

print(marks)

Enter subject name: phy
Enter marks: 90
Enter subject name: mth
Enter marks: 80
Enter subject name: chem
Enter marks: 70
{'phy': 90, 'mth': 80, 'chem': 70}

In [ ]:
#Figure out a way to store 9 & 9.0 as separate values in the set.
#(You can take help of built-in data types)

values = { 9, 9.0} #  only print 9
print(values)

values = {
    9, "9.0"
}
print(values)
# now use data types
values = {
    ("float", 9.0),
    ("int", 9)
}
print(values)

{9}
{9, '9.0'}
{('int', 9), ('float', 9.0)}

In [ ]:
# loops print number 1 to 5
count = 1 # count or any variable are called iterator
while count <= 5:
  print ("Hello")
  count = count + 1
print ( "########################")
count = 0
while count <= 5:
  print ("Hello World", count) # count mean give us number index
  count += 1

print ( "########################")
count = 5
while count >= 1:
  print (count)
  count -= 1

Hello
Hello
Hello
Hello
Hello
########################
Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
########################
5
4
3
2
1

In [ ]:
x = 0
for x in range (5):
  print ("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
# table of 3
i = 1
while i <= 10:
  print (3 * i)
  i += 1

3
6
9
12
15
18
21
24
27
30

In [ ]:
x = 1
for x in range (10):
  result = 3 * x
  print(f" 3 x {x} = {result}")

 3 x 0 = 0
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27

In [ ]:
n = int(input("Enter the number :")) # if we forgot any table then take user input
i = 1
while i <= 10 :
 result = n * i
 print(f"{n }x {i} = {result}")
 i += 1

Enter the number :13
13x 1 = 13
13x 2 = 26
13x 3 = 39
13x 4 = 52
13x 5 = 65
13x 6 = 78
13x 7 = 91
13x 8 = 104
13x 9 = 117
13x 10 = 130

In [ ]:
table = int(input("Enter the number :"))

n = 1
for n in range (10):
  result = table * n
  print(f"{table} x {n} = {result}")

Enter the number :17
17 x 0 = 0
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153

In [ ]:
# print the number of list
num = [1,21,24,67,89,56]
indx = 1
for indx in num:
  print(indx)
print("$$$$$$$$$$$$$$$$$$$$$$$$$")
indx = 0
while indx < len(num):
  print(num[indx])
  indx += 1

1
21
24
67
89
56
$$$$$$$$$$$$$$$$$$$$$$$$$
1
21
24
67
89
56

In [ ]:
# search any number in index of tuple

num = (1,21,24,67,89,56)
x = 67
i = 0
while i < len(num):
  if (num[i]== x):
    print(i)
  else:
    print("finding")  # chennel apna collegeafter 30 mints found this , jahan pe number find hoga us se pehlay aur baad ke lie finding print hoga

  i += 1

finding
finding
finding
3
finding
finding

In [ ]:
num = (1,21,24,67,89,56)
x = 67
i = 0
while i < len(num):
  if (num[i]== x):
     print ("Found index at ", i)
     break # break ke baad finding print nhn hoga
  else:
    print("finding")  # chennel apna collegeafter 30 mints found this , jahan pe number find hoga us se pehlay aur baad ke lie finding print hoga
  i += 1

finding
finding
finding
Found index at  3

In [ ]:
x = 0
while x <= 5:
  print(x)
  if x == 3:
    break
  x +=1

0
1
2
3

In [ ]:
# continue

x = 1
while x <=10:
  x += 1
  if x == 5: #skip 5 bcoz 5+1 is 6
    continue
  print(x)

2
3
4
6
7
8
9
10
11

In [ ]:
x = 1
while x <= 10:
  x +=1
  if (x % 2 ==0): # odd number
   continue
  print(x)

3
5
7
9
11

In [ ]:
x = 1
while x <= 10:
  x +=1
  if (x % 2 != 0): # even number
   continue
  print(x)

2
4
6
8
10

In [ ]:
str = "Python"
for x in str:
  print(x)
else:
  print("Loop finished")

P
y
t
h
o
n
Loop finished

In [ ]:
str = "Python"
for chr in str:
   if chr == "o":
       print("o found")
       break
   print(chr) # not print else condition break use
else:
  print("Loop finished")

P
y
t
h
o found

In [ ]:
# print the elemnts of the list in loop

nums = [1,2,3,4,5,6,7,8,9,0,90,100]
for el in nums:
  print(el)

1
2
3
4
5
6
7
8
9
0
90
100

In [ ]:
nums = [1,2,3,4,5,6,7,45,8,9,45,90,100]
x = 45
indx = 0
for el in nums:
  if el == x:
     print("number found at indx :", indx )
  indx +=1

number found at indx : 7
number found at indx : 10

In [ ]:
# we found 1 time elemnt 45 then quite loop
nums = [1,2,3,4,5,6,7,45,8,9,45,90,100]
x = 45
indx = 0
for el in nums:
  if el == x:
     print("number found at indx :", indx )
     break
  indx +=1

number found at indx : 7

In [ ]:
# using range funcrange by default start from 0

seq = range(5)
print(seq[0])
print(seq[1])
print(seq[2])
print(seq[3])
print(seq[4])

0
1
2
3
4

In [ ]:
seq = range(10)
for i in seq:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#
for i in range(10):
    print("Hello john", i)

Hello john 0
Hello john 1
Hello john 2
Hello john 3
Hello john 4
Hello john 5
Hello john 6
Hello john 7
Hello john 8
Hello john 9

In [ ]:
for i in range(2,10):
    print("Hello john", i)

Hello john 2
Hello john 3
Hello john 4
Hello john 5
Hello john 6
Hello john 7
Hello john 8
Hello john 9

In [ ]:
for i in range(2,12,3): # start from 2 and gap 3
    print( i)

2
5
8
11

In [ ]:
# print the multiplication of numnumbers
num=(int(input("Enter the number :")))
for i in range(1,10):
     print(num*i)

Enter the number :2
2
4
6
8
10
12
14
16
18

In [ ]:
# pass is a null statement that does nothing means koi kaam nhn karwna future mn koi kaam karna ho to usko aisay chor dena paas laga ke
for i in range(10):
  pass
  if i < 5:
    pass
  print("Hello") # nothing using i,

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
#Wap sum of total number

num = (7)
sum = 0
for i in range (1, num +1):
   sum +=i
print ("total sum = ",sum)

total sum =  28

In [ ]:
# WAP using loop for and while
num =(1,2,3,4,5,6,7,8,9)
sum = 0
for n in num:
  sum +=n
print("Total nums :",sum)

Total nums : 45

In [ ]:
num =[9]
sum = 0
i = 1
while i<= num[0] :
   sum += i
   i += 1 # update i
print ("Total Numbers of SUm is :",sum)

Total Numbers of SUm is : 45

In [ ]:
# factorial numbers

nums = (8)
fact = 1
for n in range(1,nums+1) :
  fact *= n


print("Total Factorial is :",fact)

Total Factorial is : 40320

In [ ]:
n = ( 3)
fact = 1
i = 1
while i <= n:
  fact *= i
  i += 1
print("Total Factorial is :",fact)

Total Factorial is : 6

In [ ]:
# Function is a block statements or group of statement that perform specific task

def cal_sum(x , y):
  sum = x + y
  print(sum)
 # return sum
cal_sum(15, 10)
cal_sum(25, 30)
cal_sum(34,34)

25
55
79

In [ ]:
def cal_sum(x , y):
  return x + y

 # return sum
sum =cal_sum(15, 10)
s=cal_sum(25, 30)
su =cal_sum(34,34)
print(sum, s, su)

25 55 68

In [ ]:
def hello():
  print("Hello")
hello()

Hello

In [ ]:
def hello():
 for i in range (5) :
  print("Hello")
hello()

Hello
Hello
Hello
Hello
Hello

In [ ]:
def hello():
 i = 0
while i <= 9 :
  print("Hello")
  i+=1
hello()

Hello
Hello
Hello
Hello

In [ ]:
def avr(x,y,z):
  sum = x+y+z
  avg = sum / 2
  print(avg)
avr(56,89,56)

100.5

In [ ]:
# user define function
def sub():
 x = int(input(" enter 1st the number :"))
 y = int(input(" enter 2nd the number :"))
 result = x - y
 print(result)

sub()

 enter 1st the number :34
 enter 2nd the number :45
-11

In [ ]:
def marks():
  x = int(input(" enter mth  marks :"))
  y = int(input(" enter python number :"))
  avg = x + y/2
  print(avg)

marks()

 enter mth  marks :78
 enter python number :90
123.0

In [ ]:
#  by default value without arguments

def mul(a = 3,b=2):
  #return a * b
  #print(a*b)
  c = a*b
  print(c)
mul()

6

In [ ]:
# print lenght of list in function

fruits = ["apple", " banana", "mango"]
veg = [ " tomatoes", "chilli "]
def print_list():
  print (len(fruits),"\n", len(veg))
 # print(len(veg))
print_list()

3
 2

In [ ]:
# print the list
fruits = ["apple", " banana", "mango"]
veg = [ " tomatoes", "chilli "]
def print_list(list):
  for item in list:
    print(item)
  print("&&&&&&&&&&&&&&&&&&&&&&")
print_list(veg)
print_list(fruits)

 tomatoes
chilli
&&&&&&&&&&&&&&&&&&&&&&
apple
 banana
mango
&&&&&&&&&&&&&&&&&&&&&&

In [ ]:
def cal_fact(n):
  fact = 1
  for i in range(1, n+1):
    fact*=i
  print(fact)

cal_fact(7)

5040

In [ ]:
# converter USD IN Rupee
def converter(usd):
  pak = usd * 277.75
  print(usd,"=", "USD :", "PKR =", pak)
converter(100)

100 = USD : PKR = 27775.0

In [ ]:
#x = int(input("Enter the Number :"))

def func(x):
  if x % 2 == 0:
    print("Even")
  elif x % 2 != 0:
    print("ODD")
func(32)

Even

In [ ]:
# recursion Function
def rec(x):
    if x == 0: # return till 1
  # if x == -1: return till 0
      return
    print(x)
    rec(x-1)
rec(5)

5
4
3
2
1